# =========================================================
# Dependencies
# =========================================================
node_modules
.pnpm-store

# =========================================================
# Build Outputs
# =========================================================
.next
dist
.turbo
out

# =========================================================
# Git
# =========================================================
.git
.gitlab

# =========================================================
# Environment
# =========================================================
.env
.env.*
!.env.example

# =========================================================
# Docs
# =========================================================
*.md
docs

# =========================================================
# Deployment / Infra
# =========================================================
deploy
infrastructure/nginx/ssl
docker-compose*.yml

# =========================================================
# IDE / OS
# =========================================================
.vscode
.idea
.DS_Store

# =========================================================
# Logs
# =========================================================
logs
*.log

# =========================================================
# Misc
# =========================================================
*.tsbuildinfo
.vercel
.netlify